mat-form-field {
  width: 600px;
}

.db-connection-card {
  width: 700px;
}

#container {
  display: flex;
  width: 100%;
  padding: 150px 0px;
  flex-direction: column;
  align-items: center;
}

.btn-label {
  display: inline-block;
  padding-left: 6px;
}

.oval-btn {
  border-radius: 50px;
}

.browse-btn {
  height: 30px;
  position: relative;
  top:8px;
}

.input-container {
  width: 100%;
}

.error-message-container{
  padding-top: 10px;
  width: 732px;
}

.error-message{
  overflow: auto;
  max-height: 100px;
  color: white;
  background-color: rgb(255, 40, 40);
  border-radius: 5px;
  padding: 5px;
  text-align: center;
}