.db-connection-item-container{
  width: 83%;
}

.db-connection-item-button-container{
  width: 17%;
  // text-align: right;
}

.clear-all-button{
  font-size: 10px;
  text-decoration: underline;
}

.nav-list-mod {
  padding-top: 0px;
}

.nav-caption {
  display: inline-block;
  padding-left: 6px;
  font-size: 15px;
}

mat-expansion-panel-header {
  padding: 0px 16px;
  margin: 0;
}

mat-expansion-panel {
  margin: 0;
}

.menu-item {
  font-size: 12px;
}

.hidden{
  display: none;
}

.error-message{
  text-align: center;
  font-weight: bold;
}

// #db-title {
//   background-color: #170657;
//   color: white;
//   overflow: hidden;
//   text-overflow: ellipsis;
//   white-space: nowrap;
//   // height: 45px;
//   padding: 13px 15px 12.5px 15px;
//   text-align: center;
//   font-weight: bold;
// }

.sidenav-option-title {
  padding-left: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
}

.sidenav-form {
  padding: 0px 15px;
}

#sidename-submit-btn {
  margin-top: 15px;
}

#cryptoSecretKey {
  padding-top: 10px;
}

// #db-details {
//   width: 100%;
//   // text-align: center;
//   font-size: 10px;
//   // background-color: red;
//   padding: 10px 18px;
// }

// $side-nav-background: rgb(51, 51, 51);

// .sidenav-button {
//   background-color: transparent;
//   border-radius: 0;
//   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
//   color: white;
//   width: 100%;
//   height: 50px;

//   &:hover:not(.link-selected) {
//       background-color: lighten($color: $side-nav-background, $amount: 3);
//   }
// }

// .link-selected {
//   border-left: 0.25em solid white;
//   background-color: lighten($color: $side-nav-background, $amount: 5);
// }

// .text-bar {
//   overflow: hidden;
//   text-overflow: ellipsis;
//   white-space: nowrap;
//   display: block;
//   font-size: 0.6rem;
//   text-rendering: optimizeLegibility;
//   margin-top: -1rem;
//   text-decoration: none;
//   opacity: .63;
// }