.db-connection-item-container{
  width: 83%;
}

.db-connection-item-button-container{
  width: 17%;
}

.clear-all-button{
  font-size: 10px;
  text-decoration: underline;
}

.nav-list-mod {
  padding-top: 0px;
}

.nav-caption {
  display: inline-block;
  padding-left: 6px;
  font-size: 15px;
}

mat-expansion-panel-header {
  padding: 0px 16px;
  margin: 0;
}

mat-expansion-panel {
  margin: 0;
}

.menu-item {
  font-size: 12px;
}

.hidden{
  display: none;
}

.error-message{
  text-align: center;
  font-weight: bold;
}

.sidenav-option-title {
  padding-left: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
}

.sidenav-form {
  padding: 0px 15px;
}

#sidename-submit-btn {
  margin-top: 15px;
}

#cryptoSecretKey {
  padding-top: 10px;
}
