:host {
  
}

mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
    z-index: 0;
}

mat-sidenav {
    width: 250px;
}

mat-sidenav-container{
    border-top: solid rgb(215,215,215) 1px;
}

.progress-bar-container {
    z-index: 2;
    position: absolute;
    width: 100%;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 9999;
} 
