<mat-toolbar class="banner" *ngIf="showDownloadBanner">
  <div id="banner-message">
    New update available. Would you like to download the new update?
  </div>

  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxLayoutGap="5px">

    <button type="button" class="banner-button" mat-raised-button color="primary" (click)="downloadUpdate()" aria-label="Yes" fxLayoutAlign="center center">Yes</button>

    <button type="button" class="banner-button no-button" mat-flat-button (click)="cancelDownloadUpdateBanner()" aria-label="No" fxLayoutAlign="center center">Later</button>

  </div>

</mat-toolbar>

<mat-toolbar class="banner" *ngIf="showInstallAndRestartBanner">
  <div id="banner-message">
    Download complete. Would you like to install the update and restart the application now?
  </div>

  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxLayoutGap="5px">

    <button type="button" class="banner-button" mat-raised-button color="primary" (click)="installAndRestart()" aria-label="Yes" fxLayoutAlign="center center">Yes</button>

    <button type="button" class="banner-button no-button" mat-flat-button (click)="cancelInstallAndRestartBanner()" aria-label="Later" fxLayoutAlign="center center">Later</button>

  </div>

</mat-toolbar>

<mat-toolbar class="banner" *ngIf="showDownloadProgressBanner">
  <div id="banner-message">
    Update downloading...
  </div>

  <div fxFlex fxLayoutAlign="flex-end center">
    
    <progress [value]="progressPercent" max="100" class="progress-bar"></progress>

  </div>

  <strong>{{progressTransferred}}&nbsp;/&nbsp;{{progressTotal}}&nbsp;(&nbsp;{{progressPercent}}%&nbsp;)</strong>

</mat-toolbar>
  