<mat-toolbar class="banner" *ngIf="showDownloadBanner">
  <div id="banner-message">
    New update available. Would you like to download the new update?
  </div>

  <div fxFlex fxLayout fxLayoutAlign="flex-end">

    <button type="button" class="banner-button" mat-button color="primary" (click)="downloadUpdate()" aria-label="Yes" fxLayoutAlign="center center">Yes</button>

    <button type="button" class="banner-button" mat-button (click)="cancelDownloadUpdateBanner()" aria-label="No" fxLayoutAlign="center center">No</button>

    <mat-icon>close</mat-icon>
    </button>

  </div>

</mat-toolbar>

<mat-toolbar class="banner" *ngIf="showDownloadBanner">
  <div id="banner-message">
    New update downloaded. Would you like to install the update and restart the application now?
  </div>

  <div fxFlex fxLayout fxLayoutAlign="flex-end">

    <button type="button" class="banner-button" mat-button color="primary" (click)="installAndRestart()" aria-label="Yes" fxLayoutAlign="center center">Restart</button>

    <button type="button" class="banner-button" mat-button (click)="cancelInstallAndRestartBanner()" aria-label="Later" fxLayoutAlign="center center">Later</button>

    <mat-icon>close</mat-icon>
    </button>

  </div>

</mat-toolbar>

<!-- <mat-toolbar color="primary">
    <div>
      <button type="button" mat-icon-button (click)="onToggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div *ngIf="page === 'db-connection'">
      Connect to a Database
    </div>
    <div *ngIf="page === 'db-detail'">
      Database name
    </div>
  </mat-toolbar> -->
  