.banner {
    font-size: 12px;
    background-color: #170657;
    color: white;
    height: 30px;
}

#banner-message {
    padding-right: 15px;
}

.banner-button{
    height: 25px;
    width: 20px;
    font-size: 12px;
}

.no-button {
    color: #170657;
}

.progress-bar{
    width: 100%;
    margin-right: 5px;
}

// .banner-btn {
    // font-size: 14px;
    // width: 75px!important;
    // min-width: unset!important;
    // height: 30px!important;
    // min-height: unset!important;
    // align-items: center;
    // vertical-align: middle;
// }